
.navbar {
    display: flex;
    align-items: center; 
    padding: 1rem;
    background-color: #fff;
    height: 70px;
    box-sizing: border-box; 
    margin-top: 20px;
}

.started-button {
    color: #fff;
    background-color: green;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    white-space: nowrap; 
    margin-inline-start: 10rem;
}

.navbar-brand img {
    height: 40px;
    margin-left: 8rem;
    margin-right: 0rem;
}

.nav-medium {
    display: flex;
    margin: 0rem;
    padding: 0rem;
}

.search-form {
    margin-left: 2rem;
}

.search-form input[type="search"] {
    width: 100%; 
    max-width: 250px; 
    padding: 0.6rem;
    border: 1px solid #dbdbdb;
    border-radius: 0px 6px 6px 0px;
    font-size: 1rem;
    border-left: none;
    background-color: rgb(248, 249, 251);
    align-items: center;
}

.search-form button {
    padding: 0.3rem;
    border: 1px solid #ccc;
    background-color: rgb(248, 249, 251);
    color: white;
    border-radius: 6px 0px 0px 6px;
    cursor: pointer;
    border-right: none;
}

.search-icon {
    padding-left: .5rem;
    width: 15px;
    background-color:rgb(248, 249, 251);
}

.search-form button:hover {
    background-color: #ccc;
}

.navbar-links {
    list-style: none;
    margin-inline-start: 10rem;
}

.navbar-links a {
    text-decoration: none;
    color: #ccc;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
}

.navbar-links a:hover {
    background-color: #f0f0f0;
}

